.meals-container img{
height: 50px;

}
/* .activity-container{
    position: relative;
} */

.meals-card{
    display: grid;
    grid-template-columns: repeat(2, 2fr)
}
.activity-info{
    font-family: 'Lato';
}
/* .my-container{
    position: absolute;
} */
.name img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 5px;
}
.mydetails{
    background-color: rgb(187, 233, 233);
    border-radius: 7px;

}
.break{
    background-color: rgb(187, 233, 233);
    font-weight: bold;
    margin-right: 4px;
}
.break:hover{
    background-color:  rgb(50, 207, 207);
}
.time{
    background-color: rgb(187, 233, 233);
    border-radius: 7px;
}
@media screen and (max-width:767px){
    .meals-card{
        grid-template-columns: repeat(1,0.5fr);
        gap: 20px;

    }
}